<!DOCTYPE html>
<html>
<head>
  <title>Wishi - The Fashionista Club</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>   
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  //= require welcome.css.scss
</head>
<body>
<div class="container"> 
  <%= yield %>
 </div>
</body>
</html>
