<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wishi - The Fashionista Club</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>   
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container"> 
  <%= yield %>
 </div>
</body>
</html>


  <div class="lists">
			<div class="list-box">
					<li>
    					<a href="mailto:wishi@fashionwishi.com" target="_blank" class="icon email"></a>
  					</li>
  					<li>
    					<a href="https://twitter.com/fashionwishi" target="_blank" class="icon twitter"></a>
  					</li>
  					<li>
    					<a href="https://www.facebook.com/fashionwishi" target="_blank" class="icon facebook"></a>
  					</li>
    </div>
  </div>
